*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    font-family: Arial;
    font-size: 20px;
    padding: 50px;
}
h1{
    font-size: 40px;
    margin-bottom: 25px;

}
.first{
    color:red;
}
#your_name{
background-color: yellow;
    border: 5px solid #444;
    width: 400px;
    padding: 25px;
    margin-top: 30px;

}
a{
    background-color: yellowgreen;
}
#course-image{
    width: 300px;
}
